src/Server/Persons/PersonValidSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string" />
                <xs:element name="lastName" type="xs:string" />
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="^([0-9a-zA-Z]+\.[0-9a-zA-Z]+@(g?)mail\.(com|ru|by|net))$" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="phoneNumber" >
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="^(\+[0-9]{12})$" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="address">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="country" type="xs:string"/>
                            <xs:element name="city" type="xs:string" />
                            <xs:element name="street" type="xs:string" />
                            <xs:element name="houseNumber" type="xs:int" />
                            <xs:element name="apartmentNumber" type="xs:int" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="jobPlace" type="xs:string" />
                <xs:element name="experience" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
